<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.arosales.mobileappproject" >

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission android:protectionLevel="signature"
        android:name="com.example.arosales.mobileappproject.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.example.arosales.mobileappproject.permission.C2D_MESSAGE" />

    <application
        android:name=".ParseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >
        <activity
            android:name=".LogIn"
            android:label="@string/app_name"
            android:theme="@style/CustomActionBarTheme"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name=".StudentHome" >
        </activity>
        <activity
            android:name=".CompanyHome">
        </activity>
        <activity
            android:name=".ProfessorHome" >
        </activity>
        <activity
            android:name=".Registration"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name=".ProfileCompany"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name=".SearchStudents">
        </activity>
        <activity
            android:name=".ResultStudents"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name=".ViewStudent">
        </activity>
        <activity
            android:name=".SendMessage"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name=".ListJobs">
        </activity>
        <activity
            android:name=".UpdateOffer"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name=".PublishOffer"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name=".Inbox">
        </activity>
        <activity
            android:name=".InboxDescription">
        </activity>
        <activity
            android:name=".ListApplicant">
        </activity>
        <activity
            android:name=".ApplicantDescription" >
        </activity>
        <activity
            android:name=".ProfileStudent"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name=".CompanySearch"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name=".CompanySearchResults">
        </activity>
        <activity
            android:name=".ViewCompany">
        </activity>
        <activity
            android:name=".JobSearch"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name=".JobSearchResults">
        </activity>
        <activity
            android:name=".ViewJob">
        </activity>
        <activity
            android:name=".ListApplication">
        </activity>
        <activity
            android:name=".ApplicationDescription">
        </activity>
        <activity
            android:name=".ProfileProfessor"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name=".ManageSession"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.PARSE_LOGIN_ENABLED"
                android:value="true" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDEiNaCRGPgeCkIg9y_Fs9zKSavT1oH-nY" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".ProfessorCourses">
        </activity>
        <activity
            android:name=".ProfessorNotification"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
            android:name=".ProfessorConsultingHours">
        </activity>
        <activity
            android:name=".UpdateConsultingHours"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
            android:name=".DidacticalInfoMenu">
        </activity>
        <activity
            android:name=".JobPlacementMenu">
        </activity>
        <activity
            android:name=".Noticeboard">
        </activity>
        <activity
            android:name=".PublishNotice"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
            android:name=".ViewNotice">
        </activity>
        <activity
            android:name=".SearchClassrooms"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
            android:name=".MapClassrooms">
        </activity>
        <activity
            android:name=".StudentSchedule">
        </activity>
        <activity
            android:name=".ViewNotifications">
        </activity>
        <activity
            android:name=".ViewConsultingHours">
        </activity>
        <activity
            android:name=".SearchTimetables"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>

        <service android:name="com.parse.PushService" />
        <receiver android:name="com.parse.ParseBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.example.arosales.mobileappproject" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.example.arosales.mobileappproject.NotificationReceiver" android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
