<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.arosales.mobileappproject" >

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission android:protectionLevel="signature"
        android:name="com.example.arosales.mobileappproject.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.example.arosales.mobileappproject.permission.C2D_MESSAGE" />

    <application
        android:name=".ParseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >
        <activity
            android:name=".LogIn"
            android:label="@string/app_name"
            android:theme="@style/CustomActionBarTheme"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name=".StudentHome"
            android:label="@string/title_activity_student_home" >
        </activity>
        <activity
            android:name=".CompanyHome"
            android:label="@string/title_activity_company_home" >
        </activity>
        <activity
            android:name=".ProfessorHome"
            android:label="@string/title_activity_professor_home" >
        </activity>
        <activity
            android:name=".Registration"
            android:label="@string/title_activity_registration"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name=".ProfileCompany"
            android:label="@string/title_activity_profile_company"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name=".SearchStudents"
            android:label="@string/title_activity_search_students" >
        </activity>
        <activity
            android:name=".ResultStudents"
            android:label="@string/title_activity_result_students"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name=".ViewStudent"
            android:label="@string/title_activity_view_student" >
        </activity>
        <activity
            android:name=".SendMessage"
            android:label="@string/title_activity_send_message"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name=".ListJobs"
            android:label="@string/title_activity_list_jobs" >
        </activity>
        <activity
            android:name=".UpdateOffer"
            android:label="@string/title_activity_update_offer"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name=".PublishOffer"
            android:label="@string/title_activity_publish_offer"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name=".Inbox"
            android:label="@string/title_activity_inbox" >
        </activity>
        <activity
            android:name=".InboxDescription"
            android:label="@string/title_activity_inbox_description" >
        </activity>
        <activity
            android:name=".ListApplicant"
            android:label="@string/title_activity_list_applicant" >
        </activity>
        <activity
            android:name=".ApplicantDescription"
            android:label="@string/title_activity_applicant_description" >
        </activity>
        <activity
            android:name=".ProfileStudent"
            android:label="@string/title_activity_profile_student"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name=".CompanySearch"
            android:label="@string/title_activity_company_search"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name=".CompanySearchResults"
            android:label="@string/title_activity_company_search_results" >
        </activity>
        <activity
            android:name=".ViewCompany"
            android:label="@string/title_activity_view_company" >
        </activity>
        <activity
            android:name=".JobSearch"
            android:label="@string/title_activity_job_search"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name=".JobSearchResults"
            android:label="@string/title_activity_job_search_results" >
        </activity>
        <activity
            android:name=".ViewJob"
            android:label="@string/title_activity_view_job" >
        </activity>
        <activity
            android:name=".ListApplication"
            android:label="@string/title_activity_list_application" >
        </activity>
        <activity
            android:name=".ApplicationDescription"
            android:label="@string/title_activity_application_description" >
        </activity>
        <activity
            android:name=".ProfileProfessor"
            android:label="@string/title_activity_profile_professor"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name=".ManageSession"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.PARSE_LOGIN_ENABLED"
                android:value="true" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA_GYQPSLcBXvRH5htN2R-Iw1lW3xJPlOQ" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".ProfessorCourses"
            android:label="@string/title_activity_professor_courses" >
        </activity>
        <activity
            android:name=".ProfessorNotification"
            android:label="@string/title_activity_professor_notification" >
        </activity>
        <activity
            android:name=".ProfessorConsultingHours"
            android:label="@string/title_activity_professor_consulting_hours" >
        </activity>
        <activity
            android:name=".UpdateConsultingHours"
            android:label="@string/title_activity_update_consulting_hours" >
        </activity>
        <activity
            android:name=".DidacticalInfoMenu"
            android:label="@string/title_activity_didactical_info_menu" >
        </activity>
        <activity
            android:name=".JobPlacementMenu"
            android:label="@string/title_activity_job_placement_menu" >
        </activity>
        <activity
            android:name=".Noticeboard"
            android:label="@string/title_activity_noticeboard" >
        </activity>
        <activity
            android:name=".PublishNotice"
            android:label="@string/title_activity_publish_notice" >
        </activity>
        <activity
            android:name=".ViewNotice"
            android:label="@string/title_activity_view_notice" >
        </activity>
        <activity
            android:name=".EditNotice"
            android:label="@string/title_activity_edit_notice" >
        </activity>
        <activity
            android:name=".SearchClassrooms"
            android:label="@string/title_activity_search_classrooms" >
        </activity>
        <activity
            android:name=".MapClassrooms"
            android:label="@string/title_activity_map_classrooms" >
        </activity>
        <activity
            android:name=".StudentSchedule"
            android:label="@string/title_activity_student_schedule" >
        </activity>
        <activity
            android:name=".ViewNotifications"
            android:label="@string/title_activity_view_notifications" >
        </activity>
        <activity
            android:name=".ViewConsultingHours"
            android:label="@string/title_activity_view_consulting_hours" >
        </activity>
        <activity
            android:name=".SearchTimetables"
            android:label="@string/title_activity_search_timetables" >
        </activity>

        <service android:name="com.parse.PushService" />
        <receiver android:name="com.parse.ParseBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.example.arosales.mobileappproject" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.parse.ParsePushBroadcastReceiver" android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
